<!DOCTYPE html>
<html>
  <body>
    <div class="header">
      <h1>Editing Book</h1>
      <div class="error_box">
        <% if @book.errors.any? %>
          <h2 class="error_message"><%= @book.errors.count %> errors prohibited this book from being saved:</h2>
          <ul class="error_text">
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <%= form_with model:@book, local: true do |f| %>
      <div class="field">
        <labe>Title</label>
        <div><%= f.text_field :title %></div>
      </div>
      <div class="field">
        <label>Body</label>
        <%= f.text_area :body %>
      </div>
      <div class="field"><%= f.submit 'Update Book'%></div>
      <% end %>
      <%= link_to "show", book_path(@book) %>
      |
      <%= link_to "Back", books_path %>
  </div>
</html>